services:
  - type: web
    name: habitbloom
    env: python
    plan: free
    buildCommand: |
      cd frontend && npm install && npm run build
      cd ..
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: gunicorn habitbloom.wsgi:application -c gunicorn.conf.py
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_SSL
        value: true
